button + .oR3Zt[data-test="hint-token"]:hover::after {
	-webkit-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
	opacity: 0;
}
button + .oR3Zt[data-test="hint-token"]::after {
	content: '';
	width: 100%;
	height: 32px;
	position: absolute;
	top: -4px;
	left: 0;
	background-color: #e2e2e2;
	-webkit-box-shadow: 4px 0 0 0 #e2e2e2, -4px 0 0 0 #e2e2e2;
	        box-shadow: 4px 0 0 0 #e2e2e2, -4px 0 0 0 #e2e2e2;
	border-radius: 7px;
	pointer-events: none;
	-webkit-transition: opacity 1.5s ease-in-out;
	-o-transition: opacity 1.5s ease-in-out;
	transition: opacity 1.5s ease-in-out;
	-webkit-transition-delay: 1s;
	     -o-transition-delay: 1s;
	        transition-delay: 1s;
}
button + .oR3Zt[data-test="hint-token"] {
	position: relative;
	background: none;
}



button + [data-test="hint-sentence"] ._10knO {
	position: relative;
	background: none;
}
button + [data-test="hint-sentence"] span[data-test="hint-token"]:not(._3_AmQ) { margin-left: 3px; }
button + [data-test="hint-sentence"] ._3_AmQ._3Omzr + ._3_AmQ._3Omzr::after { -webkit-box-shadow: -8px 0 0 #e2e2e2; box-shadow: -8px 0 0 #e2e2e2; }
button + [data-test="hint-sentence"] ._10knO::before {
	content: '';
	width: 100%;
	height: 5px;
	position: absolute;
	left: 0;
	bottom: 4px;
	background-color: #f0f0f0;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	-webkit-transition-delay: .8s;
	     -o-transition-delay: .8s;
	        transition-delay: .8s;
	pointer-events: none;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwAIYYWJr1679HxwcDOaDCZAATBIkgVslurEAdDoMBsNekvMAAAAASUVORK5CYII=) repeat-x 0 100%;
	opacity: 0;
}
button + [data-test="hint-sentence"]:hover ._10knO::before {
	-webkit-transition-delay: .25s;
	     -o-transition-delay: .25s;
	        transition-delay: .25s;
	opacity: 1;
	-webkit-transform: translateY(-3px);
	    -ms-transform: translateY(-3px);
	        transform: translateY(-3px);
}

button + [data-test="hint-sentence"] ._10knO::after {
	content: '';
	width: 100%;
	height: 80%;
	position: absolute;
	top: 2px;
	left: 0;
	background-color: #e2e2e2;
	border-radius: 4px;
	pointer-events: none;
	-webkit-transition: opacity 1.5s ease-in-out;
	-o-transition: opacity 1.5s ease-in-out;
	transition: opacity 1.5s ease-in-out;
	-webkit-transition-delay: 1s;
	     -o-transition-delay: 1s;
	        transition-delay: 1s;
}
button + [data-test="hint-sentence"]:hover ._10knO::after {
	-webkit-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
	opacity: 0;
}
button + [data-test="hint-sentence"] ._3_AmQ._3Omzr {
	display: inline-block;
	line-height: 33px;
	padding-bottom: 6px !important;
	-webkit-transition: opacity 1.5s ease-in-out;
	-o-transition: opacity 1.5s ease-in-out;
	transition: opacity 1.5s ease-in-out;
	-webkit-transition-delay: 1s;
	     -o-transition-delay: 1s;
	        transition-delay: 1s;
}
button + [data-test="hint-sentence"]:hover > ._3_AmQ { opacity: 1; }

button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(1)::before { -webkit-transition-delay: .25s; -o-transition-delay: .25s; transition-delay: .25s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(2)::before { -webkit-transition-delay: .35s; -o-transition-delay: .35s; transition-delay: .35s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(3)::before { -webkit-transition-delay: .45s; -o-transition-delay: .45s; transition-delay: .45s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(4)::before { -webkit-transition-delay: .55s; -o-transition-delay: .55s; transition-delay: .55s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(5)::before { -webkit-transition-delay: .65s; -o-transition-delay: .65s; transition-delay: .65s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(6)::before { -webkit-transition-delay: .75s; -o-transition-delay: .75s; transition-delay: .75s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(7)::before { -webkit-transition-delay: .85s; -o-transition-delay: .85s; transition-delay: .85s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(8)::before { -webkit-transition-delay: .95s; -o-transition-delay: .95s; transition-delay: .95s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(9)::before { -webkit-transition-delay: 1.05s; -o-transition-delay: 1.05s; transition-delay: 1.05s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(10)::before { -webkit-transition-delay: 1.15s; -o-transition-delay: 1.15s; transition-delay: 1.15s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(11)::before { -webkit-transition-delay: 1.25s; -o-transition-delay: 1.25s; transition-delay: 1.25s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(12)::before { -webkit-transition-delay: 1.35s; -o-transition-delay: 1.35s; transition-delay: 1.35s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(13)::before { -webkit-transition-delay: 1.45s; -o-transition-delay: 1.45s; transition-delay: 1.45s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(14)::before { -webkit-transition-delay: 1.55s; -o-transition-delay: 1.55s; transition-delay: 1.55s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(15)::before { -webkit-transition-delay: 1.65s; -o-transition-delay: 1.65s; transition-delay: 1.65s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(16)::before { -webkit-transition-delay: 1.75s; -o-transition-delay: 1.75s; transition-delay: 1.75s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(1)::after { -webkit-transition-delay: .25s; -o-transition-delay: .25s; transition-delay: .25s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(2)::after { -webkit-transition-delay: .35s; -o-transition-delay: .35s; transition-delay: .35s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(3)::after { -webkit-transition-delay: .45s; -o-transition-delay: .45s; transition-delay: .45s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(4)::after { -webkit-transition-delay: .55s; -o-transition-delay: .55s; transition-delay: .55s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(5)::after { -webkit-transition-delay: .65s; -o-transition-delay: .65s; transition-delay: .65s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(6)::after { -webkit-transition-delay: .75s; -o-transition-delay: .75s; transition-delay: .75s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(7)::after { -webkit-transition-delay: .85s; -o-transition-delay: .85s; transition-delay: .85s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(8)::after { -webkit-transition-delay: .95s; -o-transition-delay: .95s; transition-delay: .95s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(9)::after { -webkit-transition-delay: 1.05s; -o-transition-delay: 1.05s; transition-delay: 1.05s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(10)::after { -webkit-transition-delay: 1.15s; -o-transition-delay: 1.15s; transition-delay: 1.15s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(11)::after { -webkit-transition-delay: 1.25s; -o-transition-delay: 1.25s; transition-delay: 1.25s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(12)::after { -webkit-transition-delay: 1.35s; -o-transition-delay: 1.35s; transition-delay: 1.35s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(13)::after { -webkit-transition-delay: 1.45s; -o-transition-delay: 1.45s; transition-delay: 1.45s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(14)::after { -webkit-transition-delay: 1.55s; -o-transition-delay: 1.55s; transition-delay: 1.55s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(15)::after { -webkit-transition-delay: 1.65s; -o-transition-delay: 1.65s; transition-delay: 1.65s; }
button + [data-test="hint-sentence"]:hover ._10knO:nth-of-type(16)::after { -webkit-transition-delay: 1.75s; -o-transition-delay: 1.75s; transition-delay: 1.75s; }



/*ADDITIONAL STYLES*/
._3EfBd {
	max-height: 600px !important;
	overflow-y: scroll;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}
._3EfBd li:last-child {
	max-height: 70px;
}
._1gjlS {
	-webkit-transform: translateX(-50%)scale(1);
	    -ms-transform: translateX(-50%)scale(1);
	        transform: translateX(-50%)scale(1);
	-webkit-transform-origin: top center;
	    -ms-transform-origin: top center;
	        transform-origin: top center;
	-webkit-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
	opacity: 1;
	padding: 23px 0;
}
._1c_ny {
	-webkit-transform: translateX(-50%)scale(.3);
	    -ms-transform: translateX(-50%)scale(.3);
	        transform: translateX(-50%)scale(.3);
	opacity: 0;
}
._3B1cY:after, ._3B1cY:before {
	width: 12px;
	height: 12px;
	top: -6px;
	margin: 0 0 0 -6px;
}
.XUDC1 { padding: 2px 15px 0; }
._3Gof3 { padding: 14px 8px; }
._7q434._1qCW5._2fPEB._3_NyK._1Juqt._3WbPm { max-height: 46px !important; }
/*._1ZY-H { box-shadow: 0 4px 45px rgba(0,0,0,.125); }
._3B1cY:before { box-shadow: 0 2px 45px rgba(0,0,0,.125); }*/
/*-----------------*/