button + .oR3Zt[data-test="hint-token"]:hover::after {
	-webkit-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
	opacity: 0;
}
button + .oR3Zt[data-test="hint-token"]::after {
	content: '';
	width: 100%;
	height: 32px;
	position: absolute;
	top: -4px;
	left: 0;
	background-color: #e2e2e2;
	-webkit-box-shadow: 4px 0 0 0 #e2e2e2, -4px 0 0 0 #e2e2e2;
	        box-shadow: 4px 0 0 0 #e2e2e2, -4px 0 0 0 #e2e2e2;
	border-radius: 7px;
	pointer-events: none;
	-webkit-transition: opacity 1.5s ease-in-out;
	-o-transition: opacity 1.5s ease-in-out;
	transition: opacity 1.5s ease-in-out;
	-webkit-transition-delay: 1s;
	     -o-transition-delay: 1s;
	        transition-delay: 1s;
}
button + .oR3Zt[data-test="hint-token"] {
	position: relative;
	background: none;
}



button + .oR3Zt[data-test="hint-sentence"]:hover::after {
	-webkit-transition: opacity .4s ease-in-out;
	-o-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out;
	opacity: 0;
}
button + .oR3Zt[data-test="hint-sentence"]::after {
	content: '';
	width: 100%;
	height: 32px;
	position: absolute;
	top: -4px;
	left: 0;
	background-color: #e2e2e2;
	-webkit-box-shadow: 4px 0 0 0 #e2e2e2, -4px 0 0 0 #e2e2e2;
	        box-shadow: 4px 0 0 0 #e2e2e2, -4px 0 0 0 #e2e2e2;
	border-radius: 7px;
	pointer-events: none;
	-webkit-transition: opacity 1.5s ease-in-out;
	-o-transition: opacity 1.5s ease-in-out;
	transition: opacity 1.5s ease-in-out;
	-webkit-transition-delay: 1s;
	     -o-transition-delay: 1s;
	        transition-delay: 1s;
}
button + .oR3Zt[data-test="hint-sentence"] {
	position: relative;
	background: none;
}



/*ADDITIONAL STYLES*/
._3EfBd {
	max-height: 600px !important;
	overflow-y: scroll;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
}
._3EfBd li:last-child {
	max-height: 70px;
}
._1gjlS {
	-webkit-transform: translateX(-50%)scale(1);
	    -ms-transform: translateX(-50%)scale(1);
	        transform: translateX(-50%)scale(1);
	-webkit-transform-origin: top center;
	    -ms-transform-origin: top center;
	        transform-origin: top center;
	-webkit-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
	opacity: 1;
	padding: 23px 0;
}
._1c_ny {
	-webkit-transform: translateX(-50%)scale(.3);
	    -ms-transform: translateX(-50%)scale(.3);
	        transform: translateX(-50%)scale(.3);
	opacity: 0;
}
._3B1cY:after, ._3B1cY:before {
	width: 12px;
	height: 12px;
	top: -6px;
	margin: 0 0 0 -6px;
}
.XUDC1 { padding: 2px 15px 0; }
._3Gof3 { padding: 14px 8px; }
._7q434._1qCW5._2fPEB._3_NyK._1Juqt._3WbPm { max-height: 46px !important; }
/*._1ZY-H { box-shadow: 0 4px 45px rgba(0,0,0,.125); }
._3B1cY:before { box-shadow: 0 2px 45px rgba(0,0,0,.125); }*/
/*-----------------*/